development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: peehere_development
  pool: 5
  username: root
  password: XijliEa0q4G9ds

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: peehere_test
  pool: 5
  username: root
  password: XijliEa0q4G9ds
